{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <h1>Write Course Review</h1>
    </div>
    <div class="row justify-content-center mt-2">
        <i>Fields with asterisks(<font color="red">*</font>) are required.</i>
    </div>
    <form action="{{url_for('writeCourseReview', userid=session['userid'], courseid=course['id'])}}" method="post">
        <div class="form-group row justify-content-center pt-4">
            <label for="inputCourseName" class="col-sm-2 col-form-label">Course</label>
            <div class="col-sm-6">
                <input name="courseName" type="text" value="{{course['name']}}" class="form-control" id="inputcourseName" disabled>
            </div>
        </div>
        <div class="form-group row justify-content-center pt-2">
            <label for="inputRating" class="col-sm-2 col-form-label">Overall Rating (Out of 5) <font color="red">*</font></label>
            <div class="col-sm-6">
                {% if review %}
                    <input name="rating" type="number" min="1" max="5" placeholder="3" value="{{review['rating']}}" class="form-control" id="inputRating" required>
                {% else %}
                    <input name="rating" type="number" min="1" max="5" placeholder="3" class="form-control" id="inputRating" required>
                {% endif %}
            </div>
        </div>
        <div class="form-group row justify-content-center pt-2">
            <label for="inputDifficulty" class="col-sm-2 col-form-label">Difficulty (Out of 5; 5 means "Most Difficult") <font color="red">*</font></label>
            <div class="col-sm-6">
                {% if review %}
                    <input name="difficulty" type="number" min="1" max="5" placeholder="3" value="{{review['difficulty']}}" class="form-control" id="inputDifficulty" required>
                {% else %}
                    <input name="difficulty" type="number" min="1" max="5" placeholder="3" class="form-control" id="inputDifficulty">
                {% endif %}
            </div>
        </div>
        <div class="form-group row justify-content-center pt-4">
            <label for="inputTerm" class="col-sm-2 col-form-label">Term <font color="red">*</font></label>
            <div class="col-sm-6">
                {% if review %}
                    <input name="term" type="text" placeholder="e.g. Fall2019" value="{{review['term']}}" class="form-control" id="inputTerm" required>
                {% else %}
                    <input name="term" type="text" placeholder="e.g. Fall2019" class="form-control" id="inputTerm" required>
                {% endif %}
            </div>
        </div>
        <div class="form-group row justify-content-center pt-4">
            <label for="inputProf" class="col-sm-2 col-form-label">Professor <font color="red">*</font></label>
            <div class="col-sm-6">
                {% if review %}
                    <input name="professor" type="text" value="{{review['professor']}}" class="form-control" id="inputProf" required>
                {% else %}
                    <input name="professor" type="text" class="form-control" id="inputProf" required>
                {% endif %}
            </div>
        </div>
        <div class="form-group row justify-content-center pt-2">
            <label for="inputComment" class="col-sm-2 col-form-label">Comment</label>
            <div class="col-sm-6">
                {% if review['comment'] %}
                    <textarea name="comment" type="text" value="{{review['comment']}}" class="form-control" id="inputComment">{{review['comment']}}</textarea>
                {% else %}
                    <textarea name="comment" type="text" class="form-control" id="inputComment"></textarea>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            {% if review %}
                <button type="submit" class="btn btn-primary">Update</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endif %}
        </div>
    </form>
    <div class="row text-center mt-4 mb-5">
        <div class="col">
            <a href="{{url_for('profile', userid=session['userid'])}}">Back to MyPage</a>
        </div>
    </div>
{% endblock %}
