{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-10">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Gender</th>
                  <th scope="col">College</th>
                  <th scope="col">School</th>
                  <th scope="col">Year</th>
                  <th scope="col">Major(s)</th>
                  <th scope="col">Minor(s)</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    {% if session['userid'] == user['id'] %}
                        <td><a href="{{url_for('profile', userid=user['id'])}}">{{user['name']}}</a> (You)</td>
                    {% else %}
                        <td><a href="{{url_for('profile', userid=user['id'])}}">{{user['name']}}</a></td>
                    {% endif %}
                    <td>{{user['email']}}</td>
                    <td>{{user['gender']}}</td>
                    <td>{{user['college']}}</td>
                    <td>{{user['school']}}</td>
                    <td>{{user['year']}}</td>
                    <td>{{user['major']}}</td>
                    <td>{{user['minor']}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center mt-4 mb-5">
        <div class="col">
            <a href="{{url_for('profile', userid=session['userid'])}}">Back to MyPage</a>
        </div>
    </div>
{% endblock %}
