{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center no-gutters" style="min-width: 350px;">
      <div id="friendsListWrapper" class="d-flex col-3 border flex-column mt-4" style="min-height: 38.5rem; max-height: 38.5rem;">
          <div class="row justify-content-center text-center no-gutters mt-3">
              <input id="searchUser" class="col-10 py-1 px-2" placeholder="Search friends" aria-label="Search">
              <p id="selectedUsers" class="col-10 mt-2 mb-0" style="display: none;"></p>
              <hr class="mt-3 mb-1" style="width: 100%; height: 1px; background-color: light-grey;">
          </div>
          <div id="friendsList" class="row overflow-auto no-gutters" style="min-height: 29.5rem; max-height: 29.5rem; word-wrap: break-word;">
              <div class="col-12">
                  <ul id="roomsWrapper" class="list-group mt-3 mx-3">
                      {% if friends %}
                        {% for friend in friends %}
                            {% if friend['id'] != session['userid'] %}
                                <li class="user-list-hidden list-group-item py-1" style="display: none;">
                                    <a href="{{url_for('showMessages', userid=session['userid'], roomid=0, receiverid=friend['id'])}}" class="text-dark">
                                        {{friend['name']}}
                                    </a>
                                    <img id="{{'add_icon_'+friend['id']|string}}" src="/static/images/add_icon.jpeg" class="rounded-circle float-right mt-1" style="display: block; height: 16px; width: 16px;" onclick="selectUsers('{{friend['id']}}', '{{friend['name']}}')">
                                    <img id="{{'remove_icon_'+friend['id']|string}}" src="/static/images/remove_icon.jpeg" class="rounded-circle float-right mt-1" style="display: none; height: 16px; width: 16px;" onclick="unselectUsers('{{friend['id']}}', '{{friend['name']}}')">
                                </li>
                            {% endif %}
                        {% endfor %}
                      {% endif %}
                      {% if roomsStats|length != 0 %}
                        {% for roomStats in roomsStats %}
                            {% if roomStats['id'] == selectedRoomID %}
                                <li id="{{'room_active_'+roomStats['id']|string}}" class="room-list list-group-item active py-1" style="display: block;">
                                    {% if roomStats['seenAll'] %}
                                        {% if roomStats['seenAll'] == 0 %}
                                            <span class="mr-1" style="height: 0.6rem; width: 0.6rem; background-color: purple; border-radius: 50%; display: inline-block"></span>
                                        {% endif %}
                                    {% endif %}
                                    {% if roomStats['inactive'] %}
                                        <a href="{{url_for('showMessages', userid=session['userid'], roomid=roomStats['id'])}}" class="{{'room_active_'+roomStats['id']|string+'_text'}} text-white">
                                            Inactive Chat
                                        </a>
                                    {% else %}
                                        <a href="{{url_for('showMessages', userid=session['userid'], roomid=roomStats['id'])}}" class="{{'room_active_'+roomStats['id']|string+'_text'}} text-white">
                                            {% for user in roomStats['users'] %}
                                                {{user['name']}}
                                            {% endfor %}
                                        </a>
                                    {% endif %}
                                    <img id="{{'menu_icon_'+roomStats['id']|string}}" src="/static/images/menu_icon.png" class="rounded-circle float-right mt-1" style="display: block; height: 16px; width: 16px;" onclick="leaveRoom({{roomStats['id']}})">
                                </li>
                            {% else %}
                                <li id="{{'room_'+roomStats['id']|string}}" class="room-list list-group-item py-1" style="display: block;">
                                    {% if roomStats['seenAll'] %}
                                        {% if roomStats['seenAll'] == 0 %}
                                            <span class="mr-1" style="height: 0.6rem; width: 0.6rem; background-color: purple; border-radius: 50%; display: inline-block"></span>
                                        {% endif %}
                                    {% endif %}
                                    {% if roomStats['inactive'] %}
                                        <a href="{{url_for('showMessages', userid=session['userid'], roomid=roomStats['id'])}}" class="text-secondary">
                                            Inactive Chat
                                        </a>
                                    {% else %}
                                        <a href="{{url_for('showMessages', userid=session['userid'], roomid=roomStats['id'])}}" class="text-dark">
                                            {% for user in roomStats['users'] %}
                                                {{user['name']}}
                                            {% endfor %}
                                        </a>
                                    {% endif %}
                                    <img id="{{'menu_icon_'+roomStats['id']|string}}" src="/static/images/menu_icon.png" class="rounded-circle float-right mt-1" style="display: block; height: 16px; width: 16px;" onclick="leaveRoom({{roomStats['id']}})">
                                </li>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                        <p id="noChatsAvailable" class="mt-3" style="display: block;">
                            No chats available. Search users from the search box above to start chatting!
                        </p>
                      {% endif %}
                  </ul>
                </div>
            </div>
            <div class="mt-auto row justify-content-center mb-3">
                <button id="btn-create-group" class="btn btn-secondary btn-sm" style="width: 35%;" onclick="createGroupChat()" disabled>Create Group</button>
            </div>
      </div>

      <div id="chatListScreenWrapper" class="d-flex col-8 border flex-column mt-4" style="min-height: 38.5rem; max-height: 38.5rem;">
          <div id="chatListWrapper" class="row overflow-auto no-gutters" style="min-height: 34rem; max-height: 34rem; word-wrap: break-word;">
              <div id="chatScreenWrapper" class="col-12">
                  {% if chatScreen %}
                      {% if messagesWithUserInfo %}
                          <ul id="chatScreen" class="list-group mt-3">
                            {% for messageWithUserInfo in messagesWithUserInfo %}
                              <div id="messageWrapper_{{messageWithUserInfo['message_object']['id']}}">
                                  {% if messageWithUserInfo['message_object']['sender_id'] == session['userid'] %}
                                    <div class="d-flex flex-row-reverse">
                                        <li id="message_{{messageWithUserInfo['message_object']['id']}}" class="list-group-item rounded-lg active align-self-end py-1 mb-2 mr-3" style="max-width: 50%;" onclick="toggleTime(1, {{messageWithUserInfo['message_object']['id']}})">
                                          {{messageWithUserInfo['message_object']['message']}}
                                        </li>
                                    </div>
                                    <div class="d-flex flex-row-reverse">
                                        <p id="sent_at_{{messageWithUserInfo['message_object']['id']}}" class="text-muted py-1 mb-1 mr-3" style="display: none; font-size: 0.8rem;">
                                          {% if datetime.date.today()|string|replace('-', '/') ==  messageWithUserInfo['message_object']['sent_at'].split()[0] %}
                                            {{messageWithUserInfo['message_object']['sent_at'].split()[1]}}
                                          {% else %}
                                            {{messageWithUserInfo['message_object']['sent_at']}}
                                          {% endif %}
                                        </p>
                                    </div>
                                  {% else %}
                                    <a href="{{url_for('profile', userid=messageWithUserInfo['user_id'])}}">
                                        <p class="align-self-start text-muted py-1 my-0 ml-3" style="font-size: 0.8rem;">
                                            {{messageWithUserInfo['user_name']}}
                                        </p>
                                    <a>
                                    <div class="d-flex align-items-start">
                                        <img src="{{messageWithUserInfo['user_image']}}" class="rounded-circle ml-3 mr-1" style="height: 33px; width: 33px;">
                                        <li id="message_{{messageWithUserInfo['message_object']['id']}}" class="list-group-item rounded-lg align-self-start py-1" style="max-width: 45%;" onclick="toggleTime(0, {{messageWithUserInfo['message_object']['id']}})">
                                          {{messageWithUserInfo['message_object']['message']}}
                                        </li>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <p id="sent_at_{{messageWithUserInfo['message_object']['id']}}" class="align-self-start text-muted py-1 mb-0" style="display: none; font-size: 0.8rem; margin-left: 3.5rem;">
                                          {% if datetime.date.today()|string|replace('-', '/') ==  messageWithUserInfo['message_object']['sent_at'].split()[0] %}
                                            {{messageWithUserInfo['message_object']['sent_at'].split()[1]}}
                                          {% else %}
                                            {{messageWithUserInfo['message_object']['sent_at']}}
                                          {% endif %}
                                        </p>
                                    </div>
                                  {% endif %}
                              </div>
                            {% endfor %}
                          </ul>
                      {% else %}
                          <p id="initialMsg" class="mt-3 text-center">
                              This is the beginning of chat. Let's send a message to start chatting!
                          </p>
                      {% endif %}
                {% else %}
                    <h5 class="mt-5 text-center">
                        Please select the person to chat with from the left.
                    </h5>
                {% endif %}
            </div>
        </div>
        <div id="message-btn-wrapper" class="mt-3 row justify-content-center no-gutters mb-3">
            <input id="message" class="col-9 align-self-start py-1 px-2 mr-4" type="text">
            {% if chatScreen %}
                <button id="btn-send" class="col-1 align-self-end btn btn-secondary rounded-lg py-1" type="submit" onclick="sendMsg()" disabled>Send</button>
            {% else %}
                <button class="col-1 align-self-end btn btn-secondary rounded-lg py-1" type="submit" disabled>Send</button>
            {% endif %}
        </div>
      </div>
    </div>

    <script>
        const socket = io('');
        var currentRooms = [];     // Global variable to store list of rooms currently joining

        // Make sure that scroll bar always points at the bottom
        chatHistory = document.getElementById("chatListWrapper");
        chatHistory.scrollTop = chatHistory.scrollHeight;

        socket.on('connect', function(rooms) {
            if (rooms != null) {
                currentRooms = rooms;
                getCurrentRooms();
            }
        });

        function getCurrentRooms() {
            return currentRooms;
        }

        // When user receives a message
        socket.on('showMsg', function(data) {
            if ((window.location.pathname == "/"+{{session['userid']}}+"/messages/"+data['message_object']['room_id']+"/")　|| (window.location.pathname.split('?')[0] == "/"+{{session['userid']}}+"/messages/0/")) {
                var initialMsg = document.getElementById("initialMsg");
                if (typeof(initialMsg) != 'undefined' && initialMsg != null) {
                    initialMsg.style.display = "none";
                    var msgListWrapper = document.createElement('ul');
                    msgListWrapper.setAttribute("id", "chatScreen");
                    msgListWrapper.setAttribute("class", "list-group mt-3");
                    chatScreen = document.getElementById("chatScreenWrapper").appendChild(msgListWrapper);
                }
                var msgWrapper = document.createElement('div');
                msgWrapper.setAttribute("id", "messageWrapper_"+data['message_object']['id'].toString());
                var d = new Date();
                var today = d.getFullYear() + '/' + String(d.getMonth() + 1).padStart(2, '0') + '/' + String(d.getDate()).padStart(2, '0');
                if (data['message_object']['sender_id'] == {{session['userid']}}) {
                    var wrapper_li = document.createElement('div');
                    wrapper_li.setAttribute("class", "d-flex flex-row-reverse");
                    var li = document.createElement('li');
                    li.setAttribute("id", "message_"+data['message_object']['id'].toString());
                    li.setAttribute("class", "list-group-item rounded-lg active align-self-end py-1 mb-2 mr-3");
                    li.setAttribute("style", "max-width: 50%;");
                    li.setAttribute("onclick", "toggleTime(1, "+data['message_object']['id'].toString()+")");
                    li.innerText = data['message_object']['message'];
                    var wrapper_p = document.createElement('div');
                    wrapper_p.setAttribute("class", "d-flex flex-row-reverse");
                    var p = document.createElement('p');
                    p.setAttribute("id", "sent_at_"+data['message_object']['id'].toString());
                    p.setAttribute("class", "text-muted py-1 mb-1 mr-3");
                    p.setAttribute("style", "display: none; font-size: 0.8rem;");
                    if (today == data['message_object']['sent_at'].split(' ')[0]) {
                        p.innerText = data['message_object']['sent_at'].split(' ')[1];
                    } else {
                        p.innerText = data['message_object']['sent_at'];
                    }
                    wrapper_li.appendChild(li);
                    wrapper_p.appendChild(p);
                    msgWrapper.appendChild(wrapper_li)
                    msgWrapper.appendChild(wrapper_p)
                } else {
                    var userNameWrapper = document.createElement('a');
                    userNameWrapper.setAttribute("href", "/"+data['user_id'].toString()+"/");
                    var userName = document.createElement('p');
                    userName.setAttribute("class", "align-self-start text-muted py-1 my-0 ml-3");
                    userName.setAttribute("style", "font-size: 0.8rem;");
                    userName.innerText = data['user_name'];
                    var wrapper_li_image = document.createElement('div');
                    wrapper_li_image.setAttribute("class", "d-flex align-items-start");
                    var img = document.createElement('img');
                    img.setAttribute("src", data['user_image']);
                    img.setAttribute("class", "rounded-circle ml-3 mr-1");
                    img.setAttribute("style", "height: 33px; width: 33px;");
                    var li = document.createElement('li');
                    li.setAttribute("id", "message_"+data['message_object']['id'].toString());
                    li.setAttribute("class", "list-group-item rounded-lg align-self-start py-1");
                    li.setAttribute("style", "max-width: 50%;");
                    li.setAttribute("onclick", "toggleTime(0, "+data['message_object']['id'].toString()+")");
                    li.innerText = data['message_object']['message'];
                    var wrapper_p = document.createElement('div');
                    wrapper_p.setAttribute("class", "d-flex align-items-start");
                    var p = document.createElement('p');
                    p.setAttribute("id", "sent_at_"+data['message_object']['id'].toString());
                    p.setAttribute("class", "align-self-start text-muted py-1 mb-0");
                    p.setAttribute("style", "display: none; font-size: 0.8rem; margin-left: 3.5rem;");
                    if (today == data['message_object']['sent_at'].split(' ')[0]) {
                        p.innerText = data['message_object']['sent_at'].split(' ')[1];
                    } else {
                        p.innerText = data['message_object']['sent_at'];
                    }
                    userNameWrapper.appendChild(userName);
                    wrapper_li_image.appendChild(img);
                    wrapper_li_image.appendChild(li);
                    wrapper_p.appendChild(p);
                    msgWrapper.appendChild(userNameWrapper);
                    msgWrapper.appendChild(wrapper_li_image);
                    msgWrapper.appendChild(wrapper_p);
                }
                document.getElementById("chatScreen").appendChild(msgWrapper);
                chatHistory = document.getElementById("chatListWrapper");
                chatHistory.scrollTop = chatHistory.scrollHeight;
            }
        });

        // Handle sending a message
        function sendMsg() {
          var d = new Date();
          var timestamp = d.getFullYear().toString()+"/"+
                          ((d.getMonth()+1).toString().length==2?(d.getMonth()+1).toString():"0"+(d.getMonth()+1).toString())+"/"+
                          (d.getDate().toString().length==2?d.getDate().toString():"0"+d.getDate().toString())+" "+
                          (d.getHours().toString().length==2?d.getHours().toString():"0"+d.getHours().toString())+":"+
                          ((parseInt(d.getMinutes())).toString().length==2?(parseInt(d.getMinutes())).toString():"0"+(parseInt(d.getMinutes())).toString())+":"+
                          ((parseInt(d.getSeconds())).toString().length==2?(parseInt(d.getSeconds())).toString():"0"+(parseInt(d.getSeconds())).toString());
          // If the room already exists
          if ({{messagesWithUserInfo|tojson}} != null) {
              socket.emit('reflectMsg',
                          {'room_id': {{selectedRoomID}},
                           'sender_id': {{session['userid']}},
                           'message': document.getElementById("message").value,
                           'timestamp': timestamp
                          });
          } else {
              socket.emit('reflectMsg',
                          {'sender_id': {{session['userid']}},
                           'receiver_id': window.location.href.split('receiverid=')[1],
                           'message': document.getElementById("message").value,
                           'timestamp': timestamp
                          });
          }
          document.getElementById('message').value = '';
          var btn = document.getElementById("btn-send");
          btn.setAttribute("class", "col-1 align-self-end btn btn-secondary rounded-lg py-1");
          btn.disabled = true;
        }

        // Handle leaving a room
        function leaveRoom(room_id) {
            if (confirm('Do you really want to leave this chat?')) {
                $.ajax({
                    url: "/".concat({{session['userid']}}, "/leave_room/"),
                    type: "POST",
                    dataType: 'json',
                    data: {
                        room_id: room_id
                    }
                }).done((res) => {
                    window.location.href = res['redirectURL'];
                });
            } else {
                return false;
            }
        }

        // Show or hide time it was sent when message is clicked
        function toggleTime(sender, id) {
            if (sender == 1) {
                if (document.getElementById('sent_at_'+id.toString()).style.display == 'none') {
                    time = document.getElementById('sent_at_'+id.toString());
                    time.setAttribute("style", "display: block; font-size: 0.8rem;");
                    content = document.getElementById('message_'+id.toString());
                    content.setAttribute("class", "list-group-item rounded-lg active align-self-end py-1 mr-3");
                } else {
                    time = document.getElementById('sent_at_'+id.toString());
                    time.setAttribute('style', 'display: none; font-size: 0.8rem;');
                    content = document.getElementById('message_'+id.toString());
                    content.setAttribute('class', 'list-group-item rounded-lg active align-self-end py-1 mb-2 mr-3');
                }
            } else {
                time = document.getElementById('sent_at_'+id.toString());
                if (document.getElementById('sent_at_'+id.toString()).style.display == 'none') {
                    time.setAttribute("style", "display: block; font-size: 0.8rem; margin-left: 3.5rem;");
                } else {
                    time.setAttribute('style', 'display: none; font-size: 0.8rem; margin-left: 3.5rem;');
                }
                content = document.getElementById('message_'+id.toString());
                content.setAttribute('class', 'list-group-item rounded-lg align-self-start py-1');
            }
        }

        // Check if user entered some inputs (other than spaces) in message box
        checkIfValidMsg = () => {
            var msg = document.getElementById("message").value;
            if (document.getElementById("btn-send") != null) {
                if (/\S/.test(msg)) {
                    var btn = document.getElementById("btn-send");
                    btn.setAttribute("class", "col-1 align-self-end btn btn-primary rounded-lg py-1");
                    btn.disabled = false;
                } else {
                    var btn = document.getElementById("btn-send");
                    btn.setAttribute("class", "col-1 align-self-end btn btn-secondary rounded-lg py-1");
                    btn.disabled = true;
                }
            }
        }

        $('#message').on('input', checkIfValidMsg);

        // Show full list of friends when search box is focused
        showUserList = () => {
            if (document.getElementById("noChatsAvailable") != null) {
                document.getElementById("noChatsAvailable").setAttribute("style", "display: none;");
            }
            var roomList = document.getElementsByClassName("room-list");
            var userListHidden = document.getElementsByClassName("user-list-hidden");
            for (let i=0; i<roomList.length; i++) {
                roomList[i].setAttribute("style", "display: none;");
            }
            for (let i=0; i<userListHidden.length; i++) {
                userListHidden[i].setAttribute("style", "display: block;");
            }
        };

        // Find users whose names are partially and/or fully matched with the inputs
        search = () => {
          var filteredUserList = [];
          var inputText = document.getElementById("searchUser").value;
          var userListHidden = document.getElementsByClassName("user-list-hidden");

          // Check if inputText contains any character other than spaces
          if (/\S/.test(inputText)) {
            for (let i=0; i<userListHidden.length; i++) {
                if (userListHidden[i].innerText.indexOf(inputText) != -1) {
                    filteredUserList.push(userListHidden[i]);
                }
            }
            if (filteredUserList.length == 0) {
                for (let i=0; i<userListHidden.length; i++) {
                    userListHidden[i].setAttribute("style", "display: none;");
                }
            } else {
                for (let i=0; i<userListHidden.length; i++) {
                  if (!filteredUserList.includes(userListHidden[i])) {
                     userListHidden[i].setAttribute("style", "display: none;");
                  }
                }
            }
          } else {
            for (let i=0; i<userListHidden.length; i++) {
                userListHidden[i].setAttribute("style", "display: block;");
            }
          }
        };

        // When user clicks anywhere outside the search box
        searchDone = () => {
            if (document.getElementById("noChatsAvailable") != null) {
                document.getElementById("noChatsAvailable").setAttribute("style", "display: block;");
            }
            document.getElementById("searchUser").blur();     // remove focus
            document.getElementById("searchUser").value = '';
            var roomList = document.getElementsByClassName("room-list");
            var userListHidden = document.getElementsByClassName("user-list-hidden");
            for (let i=0; i<roomList.length; i++) {
                roomList[i].setAttribute("style", "display: block;");
            }
            for (let i=0; i<userListHidden.length; i++) {
                userListHidden[i].setAttribute("style", "display: none;");
            }
        };

        $('#searchUser').on('focus', showUserList);
        $('#searchUser').on('input', search);
        $('#friendsListWrapper').on('mouseleave', searchDone);

        // User un/selection (for group chatting)
        var selectedUserIds = [];
        var selectedUserNames = [];

        function selectUsers(id, name) {
            selectedUserIds.push(id);
            selectedUserNames.push(name);
            if (selectedUserIds.length == 0) {
                btn = document.getElementById("btn-create-group");
                btn.setAttribute("class", "btn btn-secondary btn-sm");
                btn.disabled = true;
            } else {
                btn = document.getElementById("btn-create-group");
                btn.setAttribute("class", "btn btn-primary btn-sm");
                btn.disabled = false;
            }
            img_add = document.getElementById("add_icon_"+id.toString());
            img_add.setAttribute("style", "display: none; height: 16px; width: 16px;");
            img_rmv = document.getElementById("remove_icon_"+id.toString());
            img_rmv.setAttribute("style", "display: block; height: 16px; width: 16px;");
            p = document.getElementById("selectedUsers");
            p.setAttribute("style", "display: block;");
            if (p.innerText == '') {
                p.innerText = name;
            } else {
                p.innerText = p.innerText.concat(', '+name);
            }
        }

        function unselectUsers(id, name) {
            var index = selectedUserIds.indexOf(id);
            selectedUserIds.splice(index, 1);
            selectedUserNames.splice(index, 1);
            if (selectedUserIds.length == 0) {
                btn = document.getElementById("btn-create-group");
                btn.setAttribute("class", "btn btn-secondary btn-sm");
                btn.disabled = true;
            } else {
                btn = document.getElementById("btn-create-group");
                btn.setAttribute("class", "btn btn-primary btn-sm");
                btn.disabled = false;
            }
            img_rmv = document.getElementById("remove_icon_"+id.toString());
            img_rmv.setAttribute("style", "display: none; height: 16px; width: 16px;");
            img_add = document.getElementById("add_icon_"+id.toString());
            img_add.setAttribute("style", "display: block; height: 16px; width: 16px;");
            p = document.getElementById("selectedUsers");
            if (selectedUserNames.length == 0) {
                p.setAttribute("style", "display: none;");
                p.innerText = '';
            } else {
                p.setAttribute("style", "display: block;");
                p.innerText = '';
                for (let i=0; i<selectedUserNames.length; i++) {
                    if (p.innerText == '') {
                        p.innerText = selectedUserNames[i];
                    } else {
                        p.innerText = p.innerText.concat(', '+selectedUserNames[i]);
                    }
                }
            }
        }

        // Gets called when 'Create Group' button is clicked (should be use socketio)
        function createGroupChat() {
            var d = new Date();
            var timestamp = d.getFullYear().toString()+"/"+
                            ((d.getMonth()+1).toString().length==2?(d.getMonth()+1).toString():"0"+(d.getMonth()+1).toString())+"/"+
                            (d.getDate().toString().length==2?d.getDate().toString():"0"+d.getDate().toString())+" "+
                            (d.getHours().toString().length==2?d.getHours().toString():"0"+d.getHours().toString())+":"+
                            ((parseInt(d.getMinutes())).toString().length==2?(parseInt(d.getMinutes())).toString():"0"+(parseInt(d.getMinutes())).toString())+":"+
                            ((parseInt(d.getSeconds())).toString().length==2?(parseInt(d.getSeconds())).toString():"0"+(parseInt(d.getSeconds())).toString());
            socket.emit('setUpGroupChat',
                        {'groupMembers': JSON.stringify(selectedUserIds),
                         'timestamp': timestamp
                        });
            var btn = document.getElementById("btn-create-group");
            btn.setAttribute("class", "btn btn-secondary btn-sm");
            btn.disabled = true;
        }

        // When new room is created
        socket.on('reflectNewRoom', function(data) {
            // For the user who created this room
            if (window.location.pathname.split('/')[1] == {{session['userid']}}) {
                // Clear the selection
                p = document.getElementById("selectedUsers");
                p.setAttribute("style", "display: none;");
                p.innerText = '';

                // Remove initial message (very rare)
                if (document.getElementById("noChatsAvailable") != null) {
                    document.getElementById("noChatsAvailable").remove();
                }

                // Make currently selected room inactive
                if (window.location.pathname.includes('receiverid')) {     // When roomid == 0 is currently selected
                    currentActiveRoom = document.getElementById("room_active_0");
                    currentActiveRoom.setAttribute("id", "room_0");
                    currentActiveRoom.setAttribute("class", "room-list list-group-item py-1");
                    currentActiveRoomText = document.getElementsByClassName("room_active_0_text");
                    currentActiveRoomText[0].setAttribute("class", "text-dark");
                } else if (window.location.pathname.split('messages/')[1] != "") {     // When another room is currently selected
                    currentActiveRoom = document.getElementById("room_active_"+window.location.pathname.split('messages/')[1].slice(0,-1));
                    currentActiveRoom.setAttribute("id", "room_"+window.location.pathname.split('messages/')[1].slice(0,-1));
                    currentActiveRoom.setAttribute("class", "room-list list-group-item py-1");
                    currentActiveRoomText = document.getElementsByClassName("room_active_"+window.location.pathname.split('messages/')[1].slice(0,-1)+"_text");
                    currentActiveRoomText[0].setAttribute("class", "text-dark");
                }

                // Create element for new room
                roomsWrapper = document.getElementById("roomsWrapper");
                var newRoomWrapper = document.createElement('li');
                newRoomWrapper.setAttribute("id", "room_active_"+data['id'].toString());
                newRoomWrapper.setAttribute("class", "room-list list-group-item active py-1");
                newRoomWrapper.setAttribute("style", "display: block;");
                // var span = document.createElement('span');
                // span.setAttribute("class", "mr-1");
                // span.setAttribute("style", "height: 0.6rem; width: 0.6rem; background-color: purple; border-radius: 50%; display: inline-block");
                var a = document.createElement('a');
                a.setAttribute('href', "/"+{{session['userid']}}+"/messages/"+data['id'].toString());
                a.setAttribute('class', "text-white");
                if (data['inactive'] == 1) {
                    a.innerText = "Inactive Chat";
                } else {
                    a.innerText = '';
                    for (let i=0; i<data['users'].length; i++) {
                        a.innerText += data['users'][i]['name']
                    }
                }
                var img = document.createElement('img');
                img.setAttribute('id', "menu_icon_"+data['id'].toString());
                img.setAttribute('src', "/static/images/menu_icon.png");
                img.setAttribute('class', "rounded-circle float-right mt-1");
                img.setAttribute('style', "display: block; height: 16px; width: 16px;");
                img.setAttribute('onclick', "leaveRoom("+data['id'].toString()+")");

                // newRoomWrapper.appendChild(span);
                newRoomWrapper.appendChild(a);
                newRoomWrapper.appendChild(img);
                roomsWrapper.appendChild(newRoomWrapper);
            } else {     // For other users displaying messaging pages
                var rooms = getCurrentRooms();
                for (let i=0; i<rooms.length; i++) {
                    if (window.location.pathname.includes('messages')) {
                        var visibleRooms = [];
                        for (let j=0; j<{{roomsStats|tojson}}.length; j++) {
                            visibleRooms.push({{roomsStats|tojson}}[i]['id']);
                        }
                        if (!visibleRooms.includes(rooms[i])) {
                            // Remove initial message (very rare)
                            if (document.getElementById("noChatsAvailable") != null) {
                                document.getElementById("noChatsAvailable").remove();
                            }

                            // Create element for new room
                            roomsWrapper = document.getElementById("roomsWrapper");
                            var newRoomWrapper = document.createElement('li');
                            newRoomWrapper.setAttribute("id", "room_active_"+rooms[i].toString());
                            newRoomWrapper.setAttribute("class", "room-list list-group-item py-1");
                            newRoomWrapper.setAttribute("style", "display: block;");
                            var span = document.createElement('span');
                            span.setAttribute("class", "mr-1");
                            span.setAttribute("style", "height: 0.6rem; width: 0.6rem; background-color: purple; border-radius: 50%; display: inline-block");
                            var a = document.createElement('a');
                            a.setAttribute('href', "/"+{{session['userid']}}+"/messages/"+rooms[i].toString());
                            a.setAttribute('class', "text-white");
                            a.innerText = 'New Chat';
                            var img = document.createElement('img');
                            img.setAttribute('id', "menu_icon_"+rooms[i].toString());
                            img.setAttribute('src', "/static/images/menu_icon.png");
                            img.setAttribute('class', "rounded-circle float-right mt-1");
                            img.setAttribute('style', "display: block; height: 16px; width: 16px;");
                            img.setAttribute('onclick', "leaveRoom("+rooms[i].toString()+")");

                            newRoomWrapper.appendChild(span);
                            newRoomWrapper.appendChild(a);
                            newRoomWrapper.appendChild(img);
                            roomsWrapper.appendChild(newRoomWrapper);
                        }
                    }
                }
            }
        });

        // When URL is sent from the server on socketio
        socket.on('redirect', function(data) {
            window.location = data.url;
        });
    </script>
{% endblock %}
