{% extends "layout.html" %}

{% block body %}
    <div class="text-center mb-5">
        <div class="row mt-4 justify-content-center no-gutters">
            <div class="col-12 pb-3">
                <div class="row justify-content-center align-items-center no-gutters">
                    <div class="col-12">
                        <div id="profileTitle">
                            <img src="{{image}}" class="img-thumbnail mt-3" style="height: 130px; width: 130px;">
                            <h2 class="mt-2">{{user['name']}}</h2>
                            {% if editable %}
                                <div id="campusInfo" class="row justify-content-center mt-3 no-gutters">
                                    {% if is_on_campus %}
                                        <button id="btn-on-campus" class="btn btn-success py-1 my-2" onclick="is_on_campus(0)">
                                            I'm on campus.
                                        </button>
                                    {% else %}
                                        <button id="btn-off-campus" class="btn btn-secondary py-1 my-2" onclick="is_on_campus(1)">
                                            I'm out of campus.
                                        </button>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% if is_on_campus %}
                                    <p class="text-success mt-3">
                                        This user is on campus! Send a
                                        <a href="{{url_for('showMessages', userid=session['userid'], receiverid=user['id'])}}">message</a>
                                        to catch up!
                                    </p>
                                {% else %}
                                    <p class="text-secondary mt-3">This user is currently out of campus.</p>
                                {% endif %}
                                {% if following %}
                                    <button id="btn-following" class="btn btn-success py-1 my-2" onclick="unfollow()">
                                        Following
                                    </button>
                                {% else %}
                                    {% if followed %}
                                        <div id="followedSign" class="col-12">
                                            <p class="text-info">This user is following you.</p>
                                        </div>
                                        <button id="btn-followback" class="btn btn-secondary py-1 mb-2" onclick="follow()">
                                            Follow Back
                                        </button>
                                    {% else %}
                                        <button id="btn-follow" class="btn btn-secondary py-1 my-2" onclick="follow()">
                                            Follow
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row justify-content-center mt-3 no-gutters">
                            <table class="col-4 table table-bordered">
                                <thead>
                                  <tr class="table-info">
                                    <th scope="col" class="py-0">Following</th>
                                    <th scope="col" class="py-0">Followers</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                      <td class="py-1">
                                          <a id="NumOffollowing" href="{{url_for('index_following_users', userid=user['id'])}}">{{followingUsers|length}}</a>
                                      </td>
                                      <td class="py-1">
                                          <a id="NumOffollowers" href="{{url_for('index_followers', userid=user['id'])}}">{{followers|length}}</a>
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <table class="col-10 table table-bordered mb-4">
              <thead>
                <tr class="table-active">
                  <th scope="col" colspan=3>Profile Message</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan=3>
                    {% if user['profile'] %}
                        {{user['profile']}}
                    {% else %}
                        None
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="col-10 table table-bordered mb-4">
              <thead>
                <tr class="table-active">
                  <th scope="col" style="width: 25%">Name</th>
                  <th scope="col" style="width: 25%">Email</th>
                  <th scope="col" style="width: 25%">Gender</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{user['name']}}</td>
                  <td>{{user['email']}}</td>
                  <td>{{user['gender']}}</td>
                </tr>
              </tbody>

              <thead>
                <tr class="table-active">
                  <th scope="col" style="width: 25%">College</th>
                  <th scope="col" style="width: 25%">School</th>
                  <th scope="col" style="width: 25%">School Year</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{college['name']}}</td>
                  <td>
                      {% if school['name'] %}
                        {{school['name']}}
                      {% else %}
                        None
                      {% endif %}
                  </td>
                  <td>{{user['year']}}</td>
                </tr>
              </tbody>

              <thead>
                <tr class="table-active">
                  <th scope="col" style="width: 25%">Majors</th>
                  <th scope="col" style="width: 25%">Minors</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      {% if major_1 %}
                          {% if major_2 %}
                             {{major_1['name']}}, {{major_2['name']}}
                          {% else %}
                             {{major_1['name']}}
                          {% endif %}
                      {% elif user['major_1'] == 0 %}
                          Undeclared
                      {% else %}
                          {{user['major_1']}}
                      {% endif %}
                  </td>
                  <td>
                      {% if minor_1 %}
                          {% if minor_2 %}
                              {{minor_1['name']}}, {{minor_2['name']}}
                          {% else %}
                              {{minor_1['name']}}
                          {% endif %}
                      {% elif user['minor_1'] == 0 %}
                          Undeclared
                      {% else %}
                          {{user['minor_1']}}
                      {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="col-10 table table-bordered">
              <thead>
                <tr class="table-active">
                  <th scope="col" colspan=3>Courses (Past)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan=3>
                      {% if courses_taken %}
                          {% for i in range(courses_taken|length) %}
                              <a href="{{url_for('viewCourse', collegeid=courses_taken[i]['college_id'],
                                                               schoolid=courses_taken[i]['school_id'],
                                                               departmentid=courses_taken[i]['department_id'],
                                                               courseid=courses_taken[i]['id'])}}">
                                  {{courses_taken[i]['name']}}
                              </a>
                              {% if i != courses_taken|length-1 %}
                                ,
                              {% endif %}
                          {% endfor %}
                      {% else %}
                          None
                      {% endif %}
                  </td>
                </tr>
              </tbody>

              <thead>
                <tr class="table-active">
                  <th scope="col" colspan=3>Courses (Taking)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan=3>
                      {% if courses_taking %}
                          {% for i in range(courses_taking|length) %}
                              <a href="{{url_for('viewCourse', collegeid=courses_taking[i]['college_id'],
                                                               schoolid=courses_taking[i]['school_id'],
                                                               departmentid=courses_taking[i]['department_id'],
                                                               courseid=courses_taking[i]['id'])}}">
                                  {{courses_taking[i]['name']}}
                              </a>
                              {% if i != courses_taking|length-1 %}
                                ,
                              {% endif %}
                          {% endfor %}
                      {% else %}
                          None
                      {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

    <script>
        function follow() {
            $.ajax({
                url: "/".concat({{session['userid']}}, "/follow/"),
                type: "POST",
                dataType: 'json',
                data: {
                    user_id: {{session['userid']}},
                    following_user_id: {{user['id']}}
                }
            }).done((res) => {
                if (res['followed'] == true) {
                    document.getElementById("followedSign").remove();
                    document.getElementById("btn-followback").remove();
                } else {
                    document.getElementById("btn-follow").remove();
                }
                var btn = document.createElement('button');
                btn.setAttribute("id", "btn-following");
                btn.setAttribute("class", "btn btn-success py-1 my-2");
                btn.setAttribute("onclick", "unfollow()");
                btn.innerText = "Following"
                document.getElementById("profileTitle").appendChild(btn);
                document.getElementById("NumOffollowers").innerText++;
            });
        }

        function unfollow() {
            $.ajax({
                url: "/".concat({{session['userid']}}, "/unfollow/"),
                type: "POST",
                dataType: 'json',
                data: {
                    user_id: {{session['userid']}},
                    following_user_id: {{user['id']}}
                }
            }).done((res) => {
                document.getElementById("btn-following").remove();
                var btn = document.createElement('button');
                btn.setAttribute("onclick", "follow()");
                if (res['followed'] == true) {
                    var msgWrapper = document.createElement('div');
                    msgWrapper.setAttribute("id", "followedSign");
                    msgWrapper.setAttribute("class", "col-12");
                    msgWrapper.innerHTML = "<p class='text-info'>This user is following you.</p>";
                    document.getElementById("profileTitle").appendChild(msgWrapper);
                    btn.setAttribute("id", "btn-followback");
                    btn.setAttribute("class", "btn btn-secondary py-1 mb-2");
                    btn.innerText = "Follow Back";
                } else {
                    btn.setAttribute("id", "btn-follow");
                    btn.setAttribute("class", "btn btn-secondary py-1 my-2");
                    btn.innerText = "Follow";
                }
                document.getElementById("profileTitle").appendChild(btn);
                document.getElementById("NumOffollowers").innerText --;
            });
        }

        function is_on_campus(flag) {
            if (flag == 1) {
                $.ajax({
                    url: "/".concat({{session['userid']}}, "/is_on_campus/"),
                    type: "POST",
                    dataType: 'json',
                    data: {
                        user_id: {{session['userid']}},
                        flag: 1
                    }
                }).done((res) => {
                    document.getElementById("btn-off-campus").remove();
                    var btn = document.createElement('button');
                    btn.setAttribute("id", "btn-on-campus");
                    btn.setAttribute("class", "btn btn-success py-1 my-2");
                    btn.setAttribute("onclick", "is_on_campus(0)");
                    btn.innerText = "I'm on campus.";
                    document.getElementById("campusInfo").appendChild(btn);
                });
            } else {
                $.ajax({
                    url: "/".concat({{session['userid']}}, "/is_on_campus/"),
                    type: "POST",
                    dataType: 'json',
                    data: {
                        user_id: {{session['userid']}},
                        flag: 0
                    }
                }).done((res) => {
                    document.getElementById("btn-on-campus").remove();
                    var btn = document.createElement('button');
                    btn.setAttribute("id", "btn-off-campus");
                    btn.setAttribute("class", "btn btn-secondary py-1 my-2");
                    btn.setAttribute("onclick", "is_on_campus(1)");
                    btn.innerText = "I'm out of campus.";
                    document.getElementById("campusInfo").appendChild(btn);
                });
            }
        }
    </script>
{% endblock %}
